{{ define "main" }}
    <div class="w-1/2 my-5 mx-auto">
        {{ .Content }}

        {{- partial "footer.html" . -}}
        <ul class="list-unstyled border-b">
        {{ range .Pages }}
            <li class="border border-b-0 p-3 hover:bg-gray-50">
                <a href="{{ .RelPermalink }}" class="text-blue-900 text-lg block">
                    {{ if .Draft }}DRAFT: {{end}}{{ .Title }}
                </a>
                <time class="text-sm" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                    {{ .Date.Format "Jan 2 2006" }}
                </time>
            </li>
        {{ end }}
        </ul>
    </div>
{{ end }}
