{{ define "main" }}
    <div class="w-1/2 mx-auto mt-5">
        <div class="grid grid-cols-2 gap-2 text-gray-600">
        {{ range .Pages }}

            <div class="border p-5 rounded shadow-sm">
                <a href="{{ .RelPermalink }}" class="text-gray-900 text-lg block font-semibold">
                    {{ if .Draft }}DRAFT: {{end}}{{ .Title }}
                </a>
                <time class="text-sm" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                    {{ .Date.Format "Jan 2 2006" }}
                </time>
            </div>
        {{ end }}
        </div>
    </div>
{{ end }}