{{ define "main" }}
    <div class="w-1/2 mx-auto py-5">
        <div class="border-b pb-3">
            <h1 class="text-3xl font-semibold text-gray-700 mb-1">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h1>
            <time class="flex text-sm" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                <svg class="fill-current text-gray-400 mr-1" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4.75 0a.75.75 0 01.75.75V2h5V.75a.75.75 0 011.5 0V2h1.25c.966 0 1.75.784 1.75 1.75v10.5A1.75 1.75 0 0113.25 16H2.75A1.75 1.75 0 011 14.25V3.75C1 2.784 1.784 2 2.75 2H4V.75A.75.75 0 014.75 0zm0 3.5h8.5a.25.25 0 01.25.25V6h-11V3.75a.25.25 0 01.25-.25h2zm-2.25 4v6.75c0 .138.112.25.25.25h10.5a.25.25 0 00.25-.25V7.5h-11z"></path></svg>
                <label class="text-gray-400">{{ .Date.Format "Jan 2 2006" }}</label>
            </time>
        </div>
        <div class="featured">
            {{ .Params.featured }}
        </div>
        <div class="py-2 text-gray-700 text-justify">
            {{ .Content }}
        </div>
    </div>
{{ end }}