<header class="w-full bg-gray-50 text-gray-800">
    <div class="px-5 py-7">
        <h1 class="text-center text-2xl font-bold mb-2">Ageng D. Prastyawan</h1>
        <h5 class="text-center text-base font-bold">Possibilities are endless!</h5>
    </div>

    <ul class="list-reset flex justify-center border-b text-sm text-gray-600">
        {{ $current := . }}

        {{ range .Site.Menus.main }}
            {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
            {{- $active = or $active (eq .Name $current.Title) -}}
            {{- $active = or $active (and (eq .Name "Projects") (eq $current.Section "projects")) -}}
            {{- $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog")) -}}
            {{- $active = or $active (and (eq .Identifier "contact") (eq $current.Name "Contact")) -}}
            {{- $active = or $active (and (eq .Identifier "about_me") (eq $current.Name "About")) -}}

            <li class="mr-1 {{if $active }}-mb-px text-gray-800{{end}}">
                <a class="inline-block py-2 px-4 text-blue hover:text-gray-800 {{if $active }}bg-white border-l border-t border-r rounded-t py-2 px-4 text-blue-dark{{end}}" href="{{ .URL }}" title="{{ .Title }}">
                    {{ .Name }}
                </a>
            </li>
        {{ end }}
    </ul>
</header>
