<header class="w-full bg-gray-50 text-gray-800">
    <div class="px-5 py-7">
        <h1 class="text-center text-2xl font-bold mb-2">Ageng D. Prastyawan</h1>
        <h5 class="text-center text-base font-bold">Possibilities are endless!</h5>
    </div>
    <div class="text-center border-b border-gray-600">
        <a href="" class="border border-gray-600 py-1 border-b border-gray-50">Home</a>
        <a href="" class="border border-gray-600 py-1">Blog</a>
        <a href="" class="border border-gray-600 py-1">Projects</a>
        <a href="" class="border border-gray-600 py-1">About</a>
        <a href="" class="border border-gray-600 py-1">Home</a>
    </div>
</header>
